<div class="d-flex container-fluid m-0 p-0">
    <div class="flex-fill m-1 bg-light"></div>
    <div class="container w-50 p-0 my-1 anton-striped-p">
        <h3>Вариант 3 – Птицефабрика</h3>
        <p>Пусть требуется создать программную систему, ориентированную на администрацию птицефабрики и позволяющую
            работать
            с
            информацией о работниках фабрики и об имеющихся на ней курах.
        </p>
        <p>О каждой курице должна храниться следующая информация: вес, возраст, порода, количество ежемесячно получаемых
            от
            курицы яиц, а также информация о местонахождении курицы.
        </p>
        <p>Сведения о породе включают в себя: название породы, среднее количество яиц в месяц (производительность) и
            средний
            вес, номер рекомендованной диеты.
        </p>
        <p>Птицефабрика имеет несколько цехов, и за каждой курицей закреплена отдельная клетка. Код клетки, где
            находится
            курица, характеризуется номером цеха, номером ряда в цехе и номером клетки в ряду.
        </p>
        <p>О работниках птицефабрики в БД должна храниться следующая информация: паспортные данные, зарплата,
            закрепленные
            за работником клетки.
        </p>
        <p>Директор птицефабрики может принять или уволить работника, при этом не должно быть кур, не обслуживаемых ни
            одним
            работником.
        </p>
        <p>Количество кур может изменяться как в большую, так и в меньшую сторону, в отдельные моменты времени часть
            клеток
            может пустовать.
        </p>

        <div class="div-for-list-inside">
            <p>Директору могут потребоваться следующие сведения:</p>
            <ol>
                <li>Какое количество яиц получают от каждой курицы данного веса, породы, возраста?
                </li>
                <li>В каком цехе наибольшее количество кур определенной породы?
                </li>
                <li>В каких клетках находятся куры указанного возраста с заданным номером диеты?
                </li>
                <li>Сколько яиц в день приносят куры указанного работника?
                </li>
                <li>Среднее количество яиц, которое получает в день каждый работник от обслуживаемых им кур?
                </li>
                <li>В каком цехе находится курица, от которой получают больше всего яиц?
                </li>
                <li>Сколько кур каждой породы в каждом цехе?
                </li>
                <li>Какое количество кур обслуживает каждый работник?
                </li>
                <li>Какова для каждой породы разница между показателями породы и средними показателями по птицефабрике?
                </li>
            </ol>
        </div>

        <p>Необходимо предусмотреть возможность выдачи справки о породе и информации о курах этой породы, имеющихся на
            фабрике.
        </p>
        <p>Требуется также сформировать отчет о работе птицефабрики за прошедший месяц. Отчет должен включать следующую
            информацию: количество кур и средняя производительность по каждой породе, общее количество кур на фабрике,
            общее
            количество яиц, полученное птицефабрикой за отчетный месяц, общее количество работников и их распределение
            по
            цехам.
        </p>
    </div>
    <div class="flex-fill m-1 bg-light"></div>
</div>